@page "/employeerecords"
@inherits EmployeeDataModel

<h1>Curriculos</h1>
<p>Cadastro de curriculos</p>

<div class="row">
    <div class="col-md-4">
        <a href='/employee/add' class="btn btn-primary" role="button"><i class="fa fa-user-plus"></i>Adicionar Curriculo</a>
    </div>
    <div class="input-group col-md-4 offset-md-4">
        <input type="text" class="form-control" placeholder="Pesquisar curriculo por nome" @bind="SearchString" />
        <div class="input-group-append">
            <button class="btn btn-info" @onclick="SearchEmployee">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>
<br />
@if (empList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Gênero</th>
                <th>Função</th>
                <th>Cidade</th>
                <th>Tempo</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in empList)
            {
            <tr>
                <td>
                    <a data-toggle="modal" data-target="#deleteEmpModal1" @onclick="(()=>DeleteConfirm(emp.EmployeeId))">@emp.EmployeeName</a>
                </td>
                <td>@emp.Gender</td>
                <td>@emp.Designation</td>
                <td>@emp.CityName</td>
                <td>@emp.Tempo</td>
                <td>
                    @if (@emp.Status == "Empregado(a)")
                    {
            <span class="badge badge-success">@emp.Status</span> }

        else if (@emp.Status == "Desempregado(a)")
        {
            <span class="badge badge-danger">@emp.Status</span>}
                </td>
                <td>
                    <a href='/employee/edit/@emp.EmployeeId' class="btn btn-primary" role="button"> <i class="fa fa-pencil-square-o"></i>Edit</a>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteEmpModal"
                            @onclick="(()=>DeleteConfirm(emp.EmployeeId))">
                        <i class="fa fa-trash-o"></i>
                        Delete
                    </button>
                    <button class="btn btn-info" role="button" data-toggle="modal" @onclick="(()=>DeleteConfirm(emp.EmployeeId))"><i class="fa fa-cloud-download"></i>PDF</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<div class="modal fade" id="deleteEmpModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Visualização</h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Nome</td>
                        <td>@emp.EmployeeName</td>
                    </tr>
                    <tr>
                        <td>Gênero</td>
                        <td>@emp.Gender</td>
                    </tr>
                    <tr>
                        <td>Função</td>
                        <td>@emp.Designation</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td>@emp.CityName</td>
                    </tr>
                    <tr>
                        <td>Telefone</td>
                        <td>
                            @emp.Telefone
                        </td>
                    </tr>
                    <tr>
                        <td>Tempo</td>
                        <td>
                            @emp.Tempo
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@emp.Email</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>@emp.Status</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteEmpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Deseja Deletar?</h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Nome</td>
                        <td>@emp.EmployeeName</td>
                    </tr>
                    <tr>
                        <td>Gênero</td>
                        <td>@emp.Gender</td>
                    </tr>
                    <tr>
                        <td>Função</td>
                        <td>@emp.Designation</td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td>@emp.CityName</td>
                    </tr>
                    <tr>
                        <td>Telefone</td>
                        <td>@emp.Telefone</td>
                    </tr>
                    <tr>
                        <td>Tempo</td>
                        <td>@emp.Tempo</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@emp.Email</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>@emp.Status</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" @onclick="(async () => await DeleteEmployee(emp.EmployeeId))" data-dismiss="modal">Delete</button>
                <button data-dismiss="modal" class="btn btn-light">Cancel</button>
            </div>
        </div>
    </div>
</div>